
C++/DiscretePositions/cmake-build-debug/Testing/Temporary/LastTest.log
C++/DiscretePositions/cmake-build-debug/.ninja_deps
C++/DiscretePositions/cmake-build-debug/.ninja_log
C++/DiscretePositions/cmake-build-debug/CMakeFiles/DiscretePositions.dir/main.cpp.obj
C++/DiscretePositions/cmake-build-debug/DiscretePositions.exe
C++/DiscretePositions/cmake-build-debug/Testing/Temporary/LastTest.log
C++/DiscretePositions/cmake-build-debug/Testing/Temporary
Python/OrbitalDistance/__pycache__/PlotDistance.cpython-37.pyc
